.intro {
    text-align: center;
    padding-block-start: 40px;
    padding-block-end: 40px;
}

.intro div {
    margin: auto;
    max-inline-size: 900px;
}

.intro p {
    padding-block-end: 24px;
    margin: 0;
}
.intro p:nth-child(1){
    font-size: 24px;
    line-height: 38px;
    font-weight: 100;
}
.intro p:nth-of-type(2) {
    font: var(--headLine5);
}